In [10]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [11]:
df = pd.read_csv("data4.csv")
df['Cuisines'].unique

<bound method Series.unique of 0             French, Japanese, Desserts
1                               Japanese
2       Seafood, Asian, Filipino, Indian
3                        Japanese, Sushi
4                       Japanese, Korean
                      ...
9546                             Turkish
9547     World Cuisine, Patisserie, Cafe
9548              Italian, World Cuisine
9549                     Restaurant Cafe
9550                                Cafe
Name: Cuisines, Length: 9551, dtype: object>

In [12]:
df.head()

,Unnamed: 0.1,Unnamed: 0,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Cuisines
0,0,0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,...,1,0,0,0,3,4.8,0,1,314,"French, Japanese, Desserts"
1,1,1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,...,1,0,0,0,3,4.5,0,1,320,Japanese
2,2,2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,...,1,0,0,0,4,4.4,1,5,270,"Seafood, Asian, Filipino, Indian"
3,3,3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,...,0,0,0,0,4,4.9,0,1,320,"Japanese, Sushi"
4,4,4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,...,1,0,0,0,4,4.8,0,1,229,"Japanese, Korean"

In [13]:
label_encoder = preprocessing.LabelEncoder()

In [14]:
df["Cuisines"].head()

0          French, Japanese, Desserts
1                            Japanese
2    Seafood, Asian, Filipino, Indian
3                     Japanese, Sushi
4                    Japanese, Korean
Name: Cuisines, dtype: object

In [15]:
country = df
from sklearn.cluster import KMeans 
import matplotlib.pyplot as plt

In [16]:
df.isnull().sum()

Unnamed: 0.1            0
Unnamed: 0              0
Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
Cuisines                9
dtype: int64

In [17]:
cords = country[['Aggregate rating','Price range']]

In [18]:
cords

                              Cuisines  Price range
0           French, Japanese, Desserts            3
1                             Japanese            3
2     Seafood, Asian, Filipino, Indian            4
3                      Japanese, Sushi            4
4                     Japanese, Korean            4
...                                ...          ...
9546                           Turkish            3
9547   World Cuisine, Patisserie, Cafe            3
9548            Italian, World Cuisine            4
9549                   Restaurant Cafe            4
9550                              Cafe            2

[9551 rows x 2 columns]

In [19]:
from sklearn.metrics import silhouette_score

sil = []
kmax = 50
for k in range(2,kmax+1):
    kmeans = KMeans(n_clusters = k).fit(cords)
    labels = kmeans.labels_
    sil.append(silhouette_score(cords,labels,metric='euclidean'))

sil

len(sil)

ValueError: could not convert string to float: 'French, Japanese, Desserts'

In [20]:
kmeans = KMeans(n_clusters=len(sil),init='k-means++')
kmeans.fit(cords)
y = kmeans.labels_

InvalidParameterError: The 'n_clusters' parameter of KMeans must be an int in the range [1, inf). Got 0 instead.

In [110]:
country['cluster']=kmeans.predict(country[['Aggregate rating','Price range']])

In [111]:
country.head()

,Unnamed: 0.1,Unnamed: 0,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,...,Votes,Cuisines,Cuisines 2,Cuisines 3,Cuisines 4,Cuisines 5,Cuisines 6,Cuisines 7,Cuisines 8,cluster
0,0,0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,...,314,39,60,31,72,50,36,16,5,28
1,1,1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,...,320,55,116,99,72,50,36,16,5,41
2,2,2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,...,270,97,5,36,36,50,36,16,5,48
3,3,3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,...,320,55,103,99,72,50,36,16,5,43
4,4,4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,...,229,55,65,99,72,50,36,16,5,43

In [112]:
length = len(country)

def recommend_restaurants(df,Aggregate_rating,Price_range,count=10):
    cluster = kmeans.predict(np.array([Aggregate_rating,Price_range]).reshape(1,-1))[0]
    if length<count:
       count = len(top_restuarants)
        
    df=df[df['cluster']==cluster].iloc[0:count][['Restaurant Name','Aggregate rating','Average Cost for two','Price range','City',"Cuisines"]]
    top_restuarants = df.sort_values(by=["Price range"],ascending=False)

    return(top_restuarants)

In [113]:
top_3_places = [
    [4.2,3], 
    [3.8,3], 
    [4.6,2] 
]

In [114]:
result = recommend_restaurants(country,top_3_places[1][0],top_3_places[1][1],count=10)

C:\Users\Yoshita\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but KMeans was fitted with feature names
  warnings.warn(

In [115]:
result

,Restaurant Name,Aggregate rating,Average Cost for two,Price range,City
11,Mad Mark's Creamery & Good Eats,4.2,900,3,Pasig City
13,Guevarra's,4.2,1000,3,San Juan City
115,La Dolce Vita Ristorante,4.1,40,3,Athens
118,The National,4.1,40,3,Athens
135,Takosushi,4.2,40,3,Augusta
166,Biaggi's Ristorante Italiano,4.1,40,3,Cedar Rapids/Iowa City
168,Granite City Food & Brewery,4.1,40,3,Cedar Rapids/Iowa City
197,Buckhead Bar and Grill,4.2,40,3,Columbus
203,Meritage,4.1,40,3,Columbus
247,Osaka,4.2,40,3,Davenport